<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder </title>
</head>
<body>
    <h1>Folder</h1>
     <form style="border: 1px black solid;padding: 4px;" action="/folder/<%=folderNum%>/upload" method="post" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" id="file" name="file">

        <button type="submit">Upload</button>
    </form>
    <h2>files:</h2>
    <ul>    
        <%files.forEach((file) => {%>
            <li><%= file.originalName%></li>
        <%})%>
    </ul>

</body>
</html>