<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder update</title>
</head>
<body>
    <h1>Folder - <%=folder.folderName %></h1>
    <form action="/folder/<%=folder.id%>/update" method="post">
        <div>
            <label for="newName">New name:</label>
            <input type="text" id="newName" name="newName" required>
        </div>
        <button>submit</button>
    </form>
</body>
</html>